<h3 id="disconectMsg" class="error" style="display: none">
  Disconnected from server. Please reload the page to reconnect. <button onclick="window.location.reload()">Click here to reload</button>
</h3>
