<range><span class="range range-single-value"><single-value /></span><else /><span class="range range-multiple-values"><from-value /><span class="range-glyph">&#8211;</span><to-value /></span></range>